body {
	background: #f7f7f7;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.main-title {
	padding: 10px;
	border-bottom: 3px solid #8a8b96;
	color: #cc0000;
	font-size: 60px;
	font-weight: bold;
	font-variant: small-caps;
}

#city-head {
	background-image: url("toronto.jpg");
	background-color: none;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 100px;
	font-size: 60px;
	text-align: center;
	display: block;
	color: white;
}

#welcome-img {
	margin: 10px 50px 10px 50px;
}

footer {
	display: block;
	text-align: center;
	font-size: 10px;
}